body{
    background-color: white;
    font-family: 'Open Sans',Arial,sans-serif;
}//End of body
.wrapper{
    margin: 0 auto;
    padding: 0 30px 0 10px;
    max-width: 766px;
    width: 100%;
}//End of wrapper

@include breakpoint(phablet){
    .wrapper{
        max-width: 728px;
    }//End of wrapper
}//End of breakpoint

@include breakpoint(desktop){
    .wrapper{
        max-width: 1024px;
        float: right;
    }//End of wrapper
}//End of breakpoint
