.wrapper-xmp{
    margin: -6px;
    padding: 0 20px 0 10px;
    width: 100%;
}//End of wrapper-xmp
xmp{
    font-family: monospace;
    background-color: $light-grey;
    margin: 0;
    text-align: left;
    line-height: 1.8;
    width: 116%;
    margin-bottom: 15px;
    padding: 0 0 0 10px;
}//End of xmp

@include breakpoint(phablet){
    xmp{
        width: 100%;
    }
}//End of breakpoint