.row{
    padding-bottom: 20px;
    a{
        text-decoration: underline;
        &:hover{
            color: blueviolet;
            cursor: pointer;
        }
    }
}//End of row
h2{
    padding-bottom: 20px;
    font-size: 29px;
    line-height: 1.5;
}//End of h2
.text{
    font-size: 15px;
    padding-bottom: 22px;
    color: $dark-grey;
    line-height: 1.5;
    margin-left: 15px;
    &:last-child{
        padding-bottom: 0;
    }
}//End of text
ul{
    padding-bottom: 20px;
    font-size: 15px;
    color: $dark-grey;
    list-style-type: none;
    padding: 0 0 0 40px ;
    li{
        list-style: disc;
        line-height: 1.5;
        padding-bottom: 20px;
        list-style-position: inside;
        &:last-child{
            padding-bottom: 0;
        }
    }//End of li
}//End of ul
.seperate{
    margin-left: 0px;
    .dotted{
        list-style-type: disc;
        &:last-child{
            padding-bottom: 20px;
        }
        ul{
            margin-left: 25px;
            padding: 20px 0 0 0;
        }//End of ul
    }//End of dotted
    li{
        li>li{
            padding-left: 10px;
        }
    }
}//End of seperate
.spaced{
    padding-bottom: 20px;
}//End of spaced


