@mixin breakpoint($point) {
    @if $point == desktop {
      @media (min-width: 1025px) { @content ; }
   }
     @else if $point == tablet {
      @media (min-width: 768px) and (max-width: 1024px) { @content ; }
   }
    @else if $point == phablet {
      @media (min-width: 768px)  { @content ; }
   }
   @else if $point == phone {
      @media (max-width: 767px)  { @content ; }
   }
}//End of mixins