nav{
    text-align: center;
    header{
        font-size: 29px;
        margin: 10px;
    }//End of header
    .scrollable{
        width: 100%;
        border: 2px solid #000;
        margin: 0 auto;
        max-height: 234px;
        overflow: scroll;
    }//End of scrollable
    ul{
        padding: 0;
    }//End of ul
    li{
        border-bottom: 1px solid #000;
        list-style-type: none;
        text-align: left;
        line-height: 45px;
        padding-bottom: 0;
        padding: 0 0 0 45px;
        a{
            color: #000;
        }//End of a
    }//End of li
}//End of nav

@include breakpoint (desktop){
    nav{
        float: left;
        position: fixed;
        border-right: 1px solid black;
        height: 100%;
        header{
            padding: 15px 10px;
        }//End of header
        .scrollable{
            overflow: unset;
            border: 0;
        }//End of scrollable
        li{
            line-height: 40px;
        }
        li:first-child {
            border-top: 1px solid #000;
        }
        li:last-child{
            border-bottom: 0px;
        }
    }//End of nav
}//End of breakpoint